<!-- <h4>Sample List-Detail Component</h4>

<p><b>Exercise:</b> <br>
The list component (mt-sample-nav.component) should get a list and display it, you can either create a .net core api or use a json api https://jsonbin.io/  <br>
Once you pick one of the records it should display the detail on the sample detail component<br><br>
If you want a more challenging exercise you can implement the <a href="https://ej2.syncfusion.com/angular/demos/#/material/grid/over-view">Syncfusion Grid</a>, the references are already added on this project so you will be able to use ejs-grid with no issues.<br><br>

<b>TODOs: </b><br> <small>Use the selected-farm service (implement it) 
<br>Create a select method that passes the selected farm
<br>Use a subject/behavior subject to set the selected farm 
<br>Subscribe to the service to get the selected farm and display it</small>
</p> -->
<mt-sample-list></mt-sample-list>
<mt-sample-detail></mt-sample-detail>